.container {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;

  display: flex;
  justify-content: space-around;

  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 18%;
  overflow: hidden;
}

.title {
  color: grey;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.content {
  font-size: 1.1rem;
}
.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.editIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #102541;
}
.deleteIcon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: #c63637;
}
