.titleUser h2 {
  color: #020c26;
  font-family: 'Montserrat', sans-serif;
}
.newButton {
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: #51d1f6;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: auto;
  font-size: 14px;
  color: rgb(255, 255, 255);

  margin-left: auto;
  margin-right: 0;
}

.newButton:hover {
  background: #00aae4;
  text-decoration: inherit;
  transition-duration: 0s, 0.15s;
  color: rgb(255, 255, 255);
}
.loadingBar {
  padding-top: 1rem;
}
